{:dependencies
 [[cljsjs/codemirror "5.31.0-0"]
  [cljsjs/parinfer-codemirror "1.4.1-2"]]

 :source-paths
 ["src"]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [my.app]}}}}}
